BETTER_AUTH_SECRET=******
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

GOOGLE_CLIENT_ID="******.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="******"

DATABASE_URL="postgresql://postgres.******@aws-0-us-west-2.pooler.supabase.com:6543/postgres"

AZURE_GPT5_RESOURCE_NAME="******"
AZURE_GPT5_API_VERSION="2025-04-01-preview"
AZURE_GPT5_API_KEY="******"

EMAIL_SERVER_USER=******@gmail.com
EMAIL_SERVER_PASSWORD=******
EMAIL_FROM=******@gmail.com

SUPABASE_URL=https://[slug].supabase.co
SUPABASE_PUBLISHABLE_DEFAULT_KEY="123456" # not needed
SUPABASE_SECRET_KEY="******"