NEXT_PUBLIC_ENV = "local"

BETTER_AUTH_SECRET = "******"

DATABASE_URL="postgresql://postgres.******@aws-0-us-west-2.pooler.supabase.com:6543/postgres"

NEXT_PUBLIC_SUPABASE_URL=https://[slug].supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY="123456" # not needed
NEXT_PUBLIC_SUPABASE_SECRET_KEY="******"

# AZURE_GPT5_RESOURCE_NAME="******"
# AZURE_GPT5_API_VERSION="2025-04-01-preview"
# AZURE_GPT5_API_KEY="******"

EMAIL_SERVER_USER=******@gmail.com
EMAIL_SERVER_PASSWORD=******
EMAIL_FROM=******@gmail.com

GOOGLE_CLIENT_ID="******.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="******"

ZOOM_CLIENT_ID = "123456"
ZOOM_CLIENT_SECRET = "******"

TELEGRAM_BOT_USERNAME = "----Bot"
TELEGRAM_BOT_TOKEN = "******"
TELEGRAM_WEBHOOK_SECRET = "******" # optional but recommended, set via Telegram's setWebhook API
