@utility scrollbar-hide {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@utility scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: oklch(0.8 0 0 / 50%) transparent;

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: oklch(0.8 0 0 / 50%);
    border-radius: 9999px;
  }

  .dark & {
    scrollbar-color: oklch(0.5 0 0 / 30%) transparent;

    &::-webkit-scrollbar-thumb {
      background-color: oklch(0.5 0 0 / 30%);
    }
  }
}